<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-copy-file-dialog" version="1.0.0">
    <name>Copy Dialog</name>
    <description>Cordova plugin for opening the native Copy dialog and copy a file in the user-selected location</description>
    <license>MIT</license>
    <keywords>cordova,copy,copy,dialog</keywords>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CopyDialog">
                <param name="android-package" value="io.github.dejiren.CopyDialog" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>
        <source-file src="src/android/CopyDialog.java" target-dir="src/io/github/sonlicao" />
        <source-file src="src/android/res/xml/opener_paths.xml" target-dir="res/xml" />
        <preference name="ANDROID_SUPPORT_V4_VERSION" default="27.+"/>
        <framework src="com.android.support:support-v4:$ANDROID_SUPPORT_V4_VERSION"/>
        <js-module src="www/android/CopyDialog.js" name="CopyDialog">
            <clobbers target="cordova.plugins.copyDialog" />
        </js-module>
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CopyDialog">
                <param name="ios-package" value="CDVCopyDialog" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVCopyDialog.h" />
        <source-file src="src/ios/CDVCopyDialog.m" />
        <js-module src="www/ios/CopyDialog.js" name="CopyDialog">
            <clobbers target="cordova.plugins.copyDialog" />
        </js-module>
    </platform>
</plugin>
